html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom style*/

* {
  box-sizing: border-box;
}
body {
  line-height: 1.2;
}
.header,
footer {
  background-color: cornflowerblue;
  padding: 5px 40px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
}
.logo {
  float: left;
  width: 30%;
}
.nav-bar {
  float: right;
  width: 70%;
  text-align: right;
  font-size: 23px;
  margin: 30px 0;
}
.logo img {
  width: 80px;
  border: 3px solid white;
  border-radius: 50%;
}
.nav-bar a {
  padding: 5px 20px;
}
.clearfix:before,
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
.container {
  margin-top: 100px;
}
h2 {
  font-size: 50px;
}
p {
  font-size: 20px;
  padding: 5px 0;
}
.box {
  float: left;
  margin-top: 3%;
}
.box-1-1 {
  margin-left: 15%;
  padding-right: 30px;
  width: 35%;
}
.box-1-2 {
  text-align: center;
  width: 43%;
  margin-right: 7%;
}
.row-1,
.row-2 {
  margin: 5%;
}
.col {
  margin: 0 30px;
}
.row-1 img,
.row-2 img {
  width: 350px;
  height: 350px;
}
h3 {
  float: left;
  font-size: 25px;
  color: white;
  padding: 15px 0;
}
.contact {
  float: right;
}
.btn {
  background-color: cornflowerblue;
  position: fixed;
  bottom: 80px;
  right: 20px;
  height: 70px;
  width: 70px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: white;
}
